<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
</head>

<body class="default-container">
    <div class="header">
        {% include header.html %}
    </div>
    <section>
        {{ content }}
    </section>
    <footer>
        {% include footer.html %}
    </footer>
</body>

<style lang="scss">
    .default-container {
        background-color: #f5f5d5;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
</style>

</html>